::ng-deep{
  .cards{
    width: 500px;
    padding: 10px;
  }
  .p-card{
    padding: 10px;
  }
  .p-card-header{
    display: flex;
    justify-content: center;
     margin:10px 0 ;
  }
}
.imagenes{
  width: 300px;
  height: 200px;
}

