<div class="w-screen surface-200" style="height: 30rem;">
  <div class="relative w-full h-full">
    <h1 class="absolute text-white text-base" style="top: 25%;right: 5%;">Tren maya transporte de Mexico</h1>
    <img src="assets/Image2.png" alt="imagen promocional" width="100%" height="100%" style="object-fit:cover;">
  </div>
</div>
<div id="fondo" style="background-image: linear-gradient(to top, #0e4f26, #1a7060, #4b9095, #87aebe, #c1cedd, #c1cedd, #c1cedd, #c1cedd, #87aebe, #4b9095, #1a7060, #0e4f26);">
  <div id="info" class="flex flex-column justify-content-center align-items-center text-center py-7" style=" margin: auto;min-width: 200px;max-width:1040px;">
    <h2>Es un nuevo servicio de transporte férreo que interconecta las principales ciudades y zonas turísticas de la península de Yucatán</h2>
<span>El Tren Maya es un proyecto que fortalecerá el ordenamiento territorial de la región y potencializará la industria turística de la misma. Generará derrama económica e incrementará la conectividad en la península de Yucatán, permitiendo mover carga y pasajeros de una manera eficiente.</span>
  <img src="assets/Image4.png" alt="" class="border-round-2xl my-5 opacity-90">

  </div>
  <div id="mision" class="flex flex-column justify-content-center align-items-center text-center" style=" margin:50px auto;min-width: 200px;max-width:1040px;">
    <h2>Mision</h2>
    <h4>Conectar el mundo maya en cinco estados del sureste mexicano dandole un servicio de transporte a los mexicanos</h4>
    <span>Lo cual permitirá reducir los tiempos y costos del transporte de mercancías, pasajeros y turistas dentro de la península. Se construirán aproximadamente 1,525 km de vías férreas que atravesarán los estados de Tabasco, Chiapas, Campeche, Yucatán y Quintana Roo beneficiando el desarrollo en la región y en la calidad de vida de los habitantes.</span>
    <img src="" alt="">
  </div>
  <div id="precios" class="flex flex-wrap justify-content-center gap-4 mx-8 mt-8" style="height: auto;width: auto;">
    <p-card *ngFor="let precio of Precios"  [header]="precio.cliente" [subheader]="'Pagan el '+(100-precio.descuento)+'%'" class="cards">
      <ng-template pTemplate="header" class="flex align-items-center p-2 m-5">
          <img alt="usuario" [src]="precio.icono" class="imagenes" />
      </ng-template>
      <p class="mt-3">
         {{precio.description}}
        </p>
        <ng-template pTemplate="footer" class="mb-2">
        <p-button label="Agendar" icon="pi pi-calendar-minus" [styleClass]="'p-2 boton'" (onClick)="GoReservations()" [style]="{'margin':'0 30px'}"></p-button>
      </ng-template>
  </p-card>
  </div>
</div>

