::ng-deep{
  .p-tabmenu{
    font-size: x-large;
    background:none;
    padding: 10px;
    color: aliceblue;
  }
  .p-tabmenu-nav{
    border: none;
  }
  .p-reset{
    gap: 20px;
  }
  ul,a{
    color: rgb(255, 255, 255);
    background: none;
  }


}
