<div class="flex h-25 w-screen bg-green-900 p-5 justify-content-between align-items-center flex-wrap">
  <img src="assets/TMaya-removebg-preview.png" alt="" style="width: 10rem;">
  <h1 class="text-white">Tren Maya</h1>
  <div class="flex flex-wrap">
    <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
    <h2 *ngIf="islog" class="mr-4 pt-2 text-white">Hola, {{Username}}</h2>
  </div>
</div>
<router-outlet/>
<div class="w-screen bg-green-900 text-white text-center p-3">
  <span class="text-lg">
    &#169;Proyecto desarrollado por alumno Eder Yair Godinez Salazar con fines educativos en centro universitario de la cienega
  </span>
</div>
