::ng-deep{
  .p-tabmenu{
    font-size: x-large;
    background:none;
    padding: 10px;
    color: aliceblue;
  }
  .p-tabmenu-nav{
    border: none;
  }
  .p-reset{
    flex-wrap: wrap;
    gap: 20px;
  }
  ul,a{
    padding: 0;
    color: rgb(255, 255, 255);
    background: none;
  }
    .logout::before{
    content: "";
    width: 175px;
    height: 2px;
    background-color: aliceblue;
    position:absolute;
    bottom: 10px;
    left: 12px;
  }
  .logout:hover::before {
    background-color: rgb(175, 175, 175); /* Cambia el color a azul cuando se hace hover */
}



}
