:host ::ng-deep{
  .p-button{
    background-color:#0e4f26;
    border-color: aliceblue;
  }
  .p-button:hover{
    background-color:#136c34;
    border-color:#136c34;
    color: black;
  }
  .p-component{
    width: 100%;
  }
  .p-calendar{
    width: 80%;
  }
  .p-inputtext{
    padding: 10px;
  }

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

